.sliderRow {
    display: flex;
    align-items: space-evenly;
    
    padding: 20px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
}

.btn-success {
    align-self: center;
    margin-right: 10px;
}

.btn-danger {
    align-self: flex-end;
}

#Title {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

#Notes {
    border: 2px solid green;
    border-radius: 25px;

    margin-top: 30px;
    //margin-bottom: 30px;
}

#RowTop {
    border-bottom: 1px solid green;
}

#RowBottom {
    border-top: 1px solid green;
}

#ButtonRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}