.container {
    border: 2px solid green;
    border-radius: 25px;

    margin-top: 30px;
}

.row {
    display: flex;
    align-items: space-evenly;
    
    padding: 20px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
}

#Title {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

#RowTop {
    border-bottom: 1px solid green;
}

#RowBottom {
    border-top: 1px solid green;
}